:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --red-color: #FF0000;
  --grey-color: #545454;
  --grey-opacity-07-color: rgba(84, 84, 84, 0.7);
  --black-opacity-00-color: rgb(0, 0, 0, 0.0);
  --black-opacity-02-color: rgba(0, 0, 0, 0.2);
  --black-opacity-05-color: rgb(0, 0, 0, 0.5);
  --black-opacity-08-color: rgb(0, 0, 0, 0.8);
  --black-opacity-09-color: rgb(0, 0, 0, 0.9);
}
